appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
cryptography==3.4.7
html5lib==1.1
idna==3.2
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
ndg-httpsclient==0.5.1
nest-asyncio==1.5.1
prettytable==2.1.0
pyasn1==0.4.8
pycparser==2.20
pyecharts==1.9.0
pyee==8.1.0
pyOpenSSL==20.0.1
pyppeteer==0.2.5
requests==2.26.0
selenium==3.141.0
simplejson==3.17.3
six==1.16.0
snapshot-pyppeteer==0.0.2
snapshot-selenium==0.0.2
soupsieve==2.2.1
tqdm==4.61.2
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
